<div class="container-fluid">
  <div class="float-right">
    <!-- navigate to create component on click -->
    <a class="btn btn-link " href="add-deposit"><span class="fa fa-plus">Add New Deposit</span></a>
    <a class="btn btn-link " href="view-parameter"><span class="fa fa-plus">View Parameters</span></a>
  </div>
  <div class="float-right">
    <!-- navigate to filter component on click -->
    <a class="btn btn-link" (click)="appComponent.toggleFilter()">
      <span class="fa fa-filter" *ngIf="!appComponent.filterEnabled">Filter</span>
      <span class="fa fa-filter" *ngIf="appComponent.filterEnabled">Stop Filtering</span>
    </a>
  </div>
  <table class="table table-striped">
    <tr>
      <th>
        Id
      </th>
      <th>
        <div class="form-group">
          <label class="control-label">Day</label>
        </div>
      </th>
      <th>
        <div class="form-group">
          <label class="control-label">Month</label>
        </div>
      </th>
      <th>
        <div class="form-group">
          <label class="control-label">Year</label>
        </div>
      </th>
      <th>
        Time
      </th>
      <th>
        <div class="form-group">
          <label class="control-label">Source</label>
        </div>
      </th>
      <th>
        <!-- Amount div start -->
        <div class="form-group">
          <label class="control-label">Amount</label>
        </div>
        <!-- Amount div end -->
      </th>
      <th>Balance</th>
    </tr>
    <tr *ngIf="appComponent.filterEnabled"></tr>
    <tr *ngIf="appComponent.filterEnabled">
      <th></th>
      <th colspan="3">
        <div class="form-group">
          <label class="control-label">Start Date</label>
          <input type="date" class="form-control" [(ngModel)]="depositStartDate" min="{{minDateLimit}}" max="{{maxDateLimit}}">
        </div>
        <div class="form-group">
          <label class="control-label">End Date</label>
          <input type="date" class="form-control" [(ngModel)]="depositEndDate" min="{{minDateLimit}}" max="{{maxDateLimit}}">
        </div>
        <span class="error" *ngIf="depositStartDate>depositEndDate">
          Min > Max makes little sense
        </span>
      </th>
      <th></th>
      <th>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)]="depositSource">
        </div>
      </th>
      <th>
        <!-- Amount filter start -->
        <div class="form-group">
          <label class="control-label"><span>Min :{{ minAmount}}</span></label>
          <input class="form-control" [(ngModel)]="minAmount" type="range" min="0" max="{{maxLimit}}" numeric>
        </div>
        <div class="form-group">
          <label class="control-label"><span>Max :{{ maxAmount}}</span></label>
          <input class="form-control" [(ngModel)]="maxAmount" type="range" min="0" max="{{maxLimit}}" numeric>
          <!-- Shows error message if range is incorrect-->
          <span class="error" *ngIf="minAmount>maxAmount">
            Min > Max makes little sense
          </span>
        </div>
        <!-- Amount filter end -->
      </th>
    </tr>
    <ng-container *ngFor="let deposit of (depositDetails|DepositFilterPipe:depositStartDate:depositEndDate:depositSource:minAmount:maxAmount:appComponent.filterEnabled);let index = index">
      <tr>
        <td>{{deposit.depositId}}</td>
        <td>{{deposit.depositDate| date: 'dd'}}</td>
        <td>{{deposit.depositDate| date: 'MMMM'}}</td>
        <td>{{deposit.depositDate| date: 'yyyy'}}</td>
        <td>{{deposit.depositTime| date: 'hh:mm a' }}</td>
        <td>{{deposit.depositSource}}</td>
        <td>{{deposit.depositAmount| currency:'INR':'symbol'}}</td>
        <td>
          <!-- toggle button for collapsing parameters -->
          <button data-toggle="collapse" attr.data-target="#parameter_{{index}}" (click)="toggleCollapseIcon(index)">
            <span [class]="parameterToggleClicked[index] ? 'fa fa-angle-up': 'fa fa-angle-down'"></span>
          </button>
        </td>
      </tr>
      <tr>
        <td colspan="8">
          <div id="parameter_{{index}}" class="collapse">
            <table class="table table-bordered table-hover table-sm">
              <tr>
                <th>Id</th>
                <th>Parameter</th>
                <th>Added Balance</th>
              </tr>
              <tr *ngIf="deposit.entryModels.length == 0">
                <td>-</td>
                <td>-</td>
                <td>0</td>
              </tr>
              <tr *ngFor="let entry of deposit.entryModels">
                <td>{{entry.entryId}}</td>
                <td>{{entry.parameterName}}</td>
                <td>{{entry.addedBalance}}</td>
              </tr>
              <tr class="table-info">
                <th></th>
                <th>Total : <i class="fas fa-rupee-sign"></i>{{sumOfBalance[index]}}</th>
                <th>Balance : {{(deposit.depositAmount - sumOfBalance[index])| currency:'INR':'symbol'}}</th>
              </tr>
              <tr class="table-info">
                <th>Electronics Savings : {{(deposit.depositAmount - sumOfBalance[index])/3| currency:'INR':'symbol'}}</th>
                <th>Loan : {{(deposit.depositAmount - sumOfBalance[index])/3| currency:'INR':'symbol'}}</th>
                <th>Fixed Savings : {{(deposit.depositAmount - sumOfBalance[index])/3| currency:'INR':'symbol'}}</th>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </ng-container>
  </table>
</div>